// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  padding: 5px;
}

.message {
  margin-left: 25px;
  height: 50px;
  width: 500px;
  border-left: 4px grey solid;
}

#coach {
  background-color: #FFFFE4;
}
